#sector, #map { 
  position: fixed; 
  top: 40px; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  overflow: hidden;
}

#sector {
  background-color: #000; 
  /* background-image: url('/img/grid.png'); */
}

.system { 
  position: absolute; 
  height: 48px; 
  width: 48px; 
  background-image: url('/img/system.png'); 
  background-position: center center;
  background-repeat: no-repeat; 
  z-index: 1;
} 


  
.departure { border: 2px solid blue; } 

/* 
  a.starlink { 
    position: absolute; 
    display: block;
    margin: 16px;
    height: 16px; 
    width: 16px; 
    cursor: pointer; 
    background-image: url(/img/shim.png); 
    z-index: 10;
  } 
  
  .red { background-image: url(/img/red.png);  } 
  .orange { background-image: url(/img/orange.png); } 
  .yellow { background-image: url(/img/yellow.png); } 
  .yellow-white { background-image: url(/img/yellow-white.png); }
  .white { background-image: url(/img/white.png); }
  .blue-white { background-image: url(/img/blue.png); }
  .blue { background-image: url(/img/blue.png); }
  .degenerate { background-image: url(/img/system.png); }
*/

#player { 
  position: fixed; right: 20px; top: 72px; 
  color: #eee;  padding: 10px; width: 300px; 
  height: 200px; background: hsla(0, 100%, 100%, 0.1); z-index: 100; 
  border: 4px solid #222;
  border-radius: 5px;
}
 
#content { 
  position: relative;
  margin-top: 72px;
}

#overlay { 
  display: none;
  position: fixed;
  top: 40px; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  // background: hsla(0, 0%, 100%, 0.9);
  z-index: 101;
}

.index { padding: 10px; }
.ship-icon { position: absolute; background: white; z-index: 99; width: 20px; height:20px; }
.ships { background: rgba(255,255,255, 0.92); }