<div id="login-box" class="well">
  <h3>Login</h3>

  <form id="login" class="create form-horizontal">
    
    <div class="control-group">
      <label class="control-label" for="player-name">Name</label>
      <div class="controls">
        <input type="text" class="input large" name="name" id="player-name" value="">
        <span class="help-inline">{{ helpText }}</span>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="player-password">Password</label>
      <div class="controls">
        <input type="text" class="input large" name="name" id="player-password" value="">
        <span class="help-inline">{{ helpText }}</span>
      </div>
    </div>
    
    <div class="form-actions">
      <button type="submit" class="btn btn-inverse">Login</button>
      <a id="signup" href="#/signup">or signup if you don't have an account</a>
    </div>
    
  </form>
</div>
