<!DOCTYPE html>
<html lang="en">
  <head>
    <SocketStream>
    <meta charset="utf-8"/>
    <title>It's Full of Stars: Admin</title>
    <!-- Web App, hides Safari Chrome -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!--  Home page icon -->
    <!--  link rel="apple-touch-icon-precomposed" href="/assets/icon.png"  -->
  </head>
  <body class="admin">   
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">It's Full of Stars!</a>
          <a href="#/sectors">Sectors</a>
          <a href="#/players">Players</a>
          <a href="#/ships">Ships</a>
        </div>
      </div>
    </div>
    <div class="container">
      <header class="jumbotron subhead">
        <h1>It's Full of Stars!</h1>
        <p>This is an example of an admin interface...</p>
      </header>
    </div>
    <div class="container" id="content">
      
    </div>
    <div id="modal"></div>
  </body>
</html>

  


