<!DOCTYPE html>
<html lang="en">
  <head>
    <SocketStream>
    <meta charset="utf-8"/>
    <title>It's Full of Stars: Admin</title>
    <!-- Web App, hides Safari Chrome -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!--  Home page icon -->
    <!--  link rel="apple-touch-icon-precomposed" href="/assets/icon.png"  -->
  </head>
  <body class="admin">   
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">It's Full of Stars!</a>
          <a href="#/systems">Systems</a>
          <a href="#/sectors">Sectors</a>
          <a href="#/players">Players</a>
        </div>
      </div>
    </div>
    <div class="container">
      <header class="jumbotron subhead">
        <h1>It's Full of Stars!</h1>
        <p>This is an example of an admin interface...</p>
      </header>

      <div class="row">
        <div class="span9">
          <h3>Create Sectors</h3>
      
          <form id="new-sector-form" class="create form-vertical">
      
            <label for="systems_number">X</label>
            <input type="text" name="x" value="" id="sector-x" />
            <label for="systems_number">Y</label>
            <input type="text" name="y" value="" id="sector-y" />
            
            <button type="submit" class="btn btn-inverse">Create</button>
      
          </form>
        </div>
      </div>
    </div>
    
    <div class="container" id="content">
      
    </div>
    <div id="modal"></div>
  </body>
</html>

  


