<!DOCTYPE html>
<html lang="en">
  <head>
    <SocketStream>
    <meta charset="utf-8"/>
    <title>It's Full of Stars</title>
  </head>
  <body >   
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <nav class="row nav">
            <a class="brand" href="#/">It's Full of Stars!</a>
            <a href="#/map">Map</a>
            <a href="#/ships">Ships</a>
            <a href="#/tactical">Tactical</a>
          </nav>
        </div>
        
      </div>
    </div>
     <div id="sector">
      <canvas id="canvas" width="500" height="500"></canvas>
    </div>
    <div id="overlay">
      <div id="content" class="container"></div>
    </div>
    
    <div id="modal"></div>
  </body>

</html>