<!DOCTYPE html>
<html lang="en">
  <head>
    <SocketStream>
    <meta charset="utf-8"/>
    <title>It's Full of Stars</title>
  </head>
  <body >   
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="row">
            <div class="span8"><a class="brand" href="#">It's Full of Stars!</a></div>
            <div class="span4"><h2 id="timestamp">Time</h2></div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="container" id="content">

    </div>
    <div id="modal"></div>
  </body>

</html>