.subhead {
  padding: 54px 0 9px 0;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.subhead p {
  font-size: 14px;
}


table {}

.table td.name, .table th.name{ width: 100px; } 
.table td.star, .table th.star { width: 100px; } 

/*--------------- Modal Windows ---------------*/
.modal-backdrop {
  background-color: white;
}
.modal {
  width: auto;
  min-width: 560px;
  max-width: 960px;
}

.modal form {
  margin: 0;
}



ul.weapons {
  width: 265px;
  list-style: none;
  padding-left: 5px;
  margin: 0 0;
}

ul.weapons li {
  margin: 4px 0 4px;
}

[class*=" icon-"] {
  background-image: url("/img/glyphicons-halflings.png");
}
.icon-white {
  background-image: url("/img/glyphicons-halflings-white.png");
}



