<section id="ships" class="index">
  <h1>Ship Plans</h1>
  <h4><a href="#/ships/new">new ship</a></h4>
  
  <table class="table tableordered table-striped">
    <thead>
      <tr>
        <th class='name'>Name</th>
        <th class='type'>Type</th>
        <th class='drive'>Sublight</th>
        <th class='drive'>Jump</th>
        <th class='weapons'>Weapons</th>
        <th class='usc small'>USC</th>
        <th class='delete'></th>
      </tr>
    </thead>
    <tbody>
    {{# ships }}
      <tr id="sector_{{ _id }}">
        <td class='name'><a href="#/ships/{{ _id }}">{{ name }}</a></td>
        <td class='type'>{{ type }}</td>
        <td class='drive'>{{ sublight }}g</td>
        <td class='drive'>{{ jump }} Parsecs</td>
        <td class='weapons'>{{ weapons }}</td>
        <td class='usc small'>{{ x }}:{{ y }}</td>
        <td class='delete'><a data-id="{{ _id }}" class="close delete">&times;</a></td>
      </tr>
    {{/ ships }}
    {{^ ships }}
      <tr>
        <td colspan="7"><p class="note">No ships</p></td>
      </tr>
    {{/ ships }}
    </tbody>
  </table>
</section>
