<section id="systems">
  <table class="table tableordered table-striped">
    <thead>
      <tr>
        <th class='name'>System Name</th>
        <th class='star'>Primary Star</th>
        <th class='planet'>Planets</th>
      </tr>
    </thead>
    <tbody>
    {{# systems }}
      <tr id="system_{{ _id }}">
        <td class='name'><a href="#/systems/{{ _id }}">{{ name }}</a></td>
        <td class='star'>{{# stars }}{{ code }}{{ luminosity }}{{/ stars }}</td>
        <td class='planets'>
          {{# planets }}
          <a href="#/systems/{{ system_id }}/planets/{{ _id }}">
            <span class="badge {{ klass_slug }}" data-id="{{ _id }}">{{ klass }}</span>
          </a>
          {{/ planets }}
        </td>
      </tr>
    {{/ systems }}
    </tbody>
  </table>
</section>
