<section id="players">
  <table class="table tableordered table-striped">
    <thead>
      <tr>
        <th class='name'>Name</th>
        <th class='sector'>Email</th>
        <th class='homeworld-id'>Homeworld ID</th>
      </tr>
    </thead>
    <tbody>
    {{# players }}
      <tr id="system_{{ _id }}">
        <td class='name'><a href="#/players/{{ _id }}">{{ name }}</a></td>
        <td class='sector'>{{ email }}</td>
        <td class='homeworld-id'>
          <a href="#/systems/{{ homeworldId }}">{{ homeworldId }}</a>
        </td>
      </tr>
    {{/ players }}
    </tbody>
  </table>
</section>
